{% extends 'basic.html' %}
{% load humanize %}
{% block title %}
    post details
{% endblock %}

{% block content %}
    <h2>Post details : </h2>
    <span>Posted:</span> {{ object.created_at | naturaltime }}
    <h4>{{ object.title }}</h4>
    <img src="{{ object.image.url }}" alt="">
    <p>{{ object.details }}</p>
    {% if request.user == object.user %}
        <a class="btn btn-warning" href="/update/{{ object.id }}/">Update</a>
        <a class="btn btn-danger" href="/delete/{{ object.id }}/">Delete</a>
    {% endif %}
{% endblock %}