{% extends 'basic.html' %}

{% block title %}
    Post
{% endblock %}


{% block content %}
    <h2 class="mt-5" style="display: flex; justify-content: center;">Latest post by our users:</h2>
    <hr style="margin-bottom: 70px">
    {% for p in post %}
        <div class="latest-post" style="margin-bottom: 50px">
            <h4 style="margin-bottom: 30px">{{ p.title }}</h4>
            <img src="{{ p.image.url }}" alt="" style="margin-bottom: 20px; max-width: 381px; max-height: 200px">
            <p style="margin-bottom: 15px">{{ p.details }}</p>
            <p  style="margin-bottom: 5px"><span class="salary"><b>Salary : </b></span> <span>{{ p.salary | floatformat:2 }} Taka</span></p>
            <p style="margin-bottom: 5px"><b>Post date : </b> {{ p.created_at }}</p>
            {% if p.available == True %}
                <p><b>Offer : </b> Available</p>
            {% else %}
                <p><b>Offer : </b> Not Available</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}